body {
    background-color: rgb(247, 252, 250);

}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(0, 255, 13);
    text-align: center;
    padding: 7px;
    color: blue;

}

nav a {
    text-decoration: none;
    color: rgb(21, 21, 110);
    margin: 15px;
    font-weight: bold;
}

main {
    max-width: auto;
    margin: 15px auto;
    padding: 20px;
    background-color: pink;
    border-radius: 10px;
    justify-items: center;
}

h2,
h3,
h4 {
    text-align: center;
    color: blue;
}

#members {
    display: flex;
    flex-direction: wrap;
    gap: 50px;
    margin-top: 20px;
}

.member {
    text-align: center;
    padding: 100px;
    border: 1px;
    border-radius: 8px;
    background-color: aqua;
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

footer {
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    background-color: aqua;
    color: blue;
    position: fixed;
    width: 100%;

}

form {
    display: flex;
    flex-direction: column;
    padding: 1px;
    gap: 10px;
    max-width: 80%;
    justify-content: center;
    margin: 10px;

}

button {
    background-color: blue;
    font-weight: bold;
    padding: 10px;
    width: 20%;
    margin-left: 40%;
    border-radius: 50px;
}

79